
body{
    text-align: center;
}

  .articulo1{
    height: 100vh;
  }
  .form1{
    display: flex;
    flex-direction: column;
    align-items: center;
  
  }
  
  .formatoform{
      border-radius: 20px;
      line-height: 40px;
  }
  .__h1form{
    text-align: center;
    color: #0279f6;
  } 
  
  .__h4login{
    text-align: center;
    color: #0279f6;
    font-size: 1 em;
    font-weight: 200;
  }

  .formatoform :hover{
    color: white;
   }

  @media (max-width: 992px){
    .imglateral{
    display: none;
    }
  } 
    