/* searchbar_iphone */
.search {
  width: 100%;
  position: relative
}

.searchTerm {
  float: left;
  width: 100%;
  border: 3px solid #0279f6;
  padding: 5px;
  height: 20px;
  border-radius: 5px;
  outline: none;
  color: #9DBFAF;
}

.searchTerm:focus{
  color: black;
}

.searchButton {
  position: absolute;  
  right: -50px;
  width: 30px;
  height: 30px;
  border: 1px solid #0279f6;
  background: #0279f6;
  text-align: center;
  color: black;
  border-radius: 5px;
  cursor: pointer;
  font-size: 20px;
}

.wrap{
  display: none;
  width: 30%;
  transform: translate(-50%, -50%);
  margin-left: 50%;
  margin-bottom: 10%
}


.imagen_logo{
  margin-left: 0;
}


.log_in{
  margin-right: 3%;
  margin-top: 0.5%;
}


/* serchbar */
#arriba{width: 100%;
    margin: 5px;
    padding: 0;
  height: 7vh;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.imagen_logo { height:100% ;}
.imagen_bag { height:70% ;
 display: flex;
 align-self: center;

}

.buscar-caja {
  display: flex;
  align-self: center;
  margin-top: 2%;
  transform: translate(-50%, -50%);
  background: #f6f6f7;
  height: 30px;
  border-radius: 30px;
  padding: 7px;
 }
 
 .buscar-caja:hover > .buscar-txt {
  width: 240px;
  padding: 0 6px;
  color: black
 }
 
 .buscar-caja:hover > .buscar-btn {
  background: white;
  color: black;
 }
 
 .buscar-btn {
  color: #0279f6;
  float: right;
  width: 30px;
  height: 30px;
  border-radius: 30%;
  background: #0279f6;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.4s;
  color: white;
  cursor: pointer;
 }
 
 .buscar-btn > i {
  font-size: 25px;
 }
 
 .buscar-txt {
  border: none;
  background: none;
  outline: none;
  float: left;
  padding: 0;
  color: black;
  font-size: 16px;
  transition: 0.4s;
  line-height: 40px;
  width: 0px;
  
 }﻿



/* .buscar-caja ::placeholder {
  color: red;
} */
/* botones login y registrate en home */
 .log_in{
 align-self: center;
 margin-right: 5%;
 margin-top: 15%;
}

/*  #arriba ul li {
    list-style-type: none;
    align-content: center;
}*/

/*  #arriba ul {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;

}*/

/*  #arriba ul li a{
  margin-right: 5px;
  margin-top: 15px;
}*/

/*  .micuenta{
 display: block;
 margin-top: 10px;
 margin-right: 10px;
}*/


@media  screen and  (max-width: 1200px) {

.buscar-btn > i {
  font-size: 22px;
 }
 
 .buscar-txt {
  border: none;
  background: none;
  outline: none;
  float: left;
  padding: 0;
  color: black;
  font-size: 10px;
  transition: 0.4s;
  line-height: 40px;
  width: 0px;

 }﻿  

}

@media  screen and  (max-width: 1100px) {
 
  .buscar-caja:hover > .buscar-txt{ 
    width: 90px;
    padding: 0 6px;
    color: black;
  }

}

@media  screen and  (max-width: 700px) {
 


  .buscar-caja:hover > .buscar-txt{ 
    width: 55px;
    padding: 0 6px;
    color: black;
  }
}

@media  screen and  (max-width: 450px) {

  .buscar-caja{ display: none;
 
     }
    }